body {
  background-image: url("./images/bg-art.webp");
  background-image: -o-linear-gradient(blue, green);
  background-repeat: no-repeat;
  background-size: cover;
  border: 40px groove rgb(167, 245, 167);
  border-radius: 40px;
}
.container {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  color: rgb(151, 113, 16);
  background-color: rgb(249, 173, 185);
  border-radius: 300px;
  border: 10px double brown;
  font-family: 'Times New Roman', Times, serif;
}
h1 {
  font-style: oblique;
}
h3 {
  color:rgb(56, 18, 18);
}
.title {
  display: flex;
  justify-content: center;
  background-color: rgb(249, 173, 185);
  height: 50px;
  width: 100px;
  margin-left: 50px;
  border-radius: 30px;
  text-align: center;
  border: 20px double brown;
  font-style: oblique;
}
.poem {
  display: inline-block;
  justify-content: center;
  /* flex-direction: column;
  justify-content: center; */
  background-color: rgb(249, 173, 185);
  height: 75px;
  width: 75px;
  padding: 10px;
  /* margin-top: 50px; */
  margin-left: 100px;
  /* margin-bottom: 20px; */
  border-radius: 75px;
  text-align: center;
  border: 20px inset brown;
  font-style: oblique;
  transition: height 3s, width 3s, background-color 4s, border-style 5s;
  
}

.poem:hover {
  border-style: double;
  height: 100px;
  width: 100px;
  background-color: rgb(246, 188, 79);
}
p {
  font-size: 18pt;
  text-align: center;
  color:rgb(56, 18, 18)
}
.poem-title {
  color: antiquewhite;
  font-size: 30pt;
  font-style: oblique;
  margin-top: 25px;
  text-align: center;
  transition: all 3s;
}
.poem-title:hover {
  font-size: 60pt;

}
nav {
  color:rgb(167, 245, 167);
  display: flex;
  justify-content: right;
  margin-top: 20px;
  margin-right: 40px;

  font-size: 15pt;
  font-family: 'Times New Roman', Times, serif;
}